

<div class="panel panel-primary">
    <div class="panel-heading">Student Details</div>
    <div class="panel-body">
        <div class="form-group">
            <label for="txtStudentName">Student: </label>
            <input id="txtStudentName" class="form-control" value="{{vm.selectedStudent.StudentName}}"/>
        </div>
        <div class="form-group">
            <button type="submit" value="Update" class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span> Update</button>
        </div>
    </div>
</div>
