
@model List<MvcApplication1.ViewModels.StudentViewModel>

<div id="body">
    <ul>
        @foreach (var student in Model)
        {
            <li>
                @Html.ActionLink(student.StudentName, "Edit", new{studentId = student.StudentId})
            </li>
        }
    </ul>
</div>
